:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #ebebeb;
  --second-brand-color: #f4ec48;
  --third-brand-color: #d7d7d7;

  --main-font: 'Open Sans';
  --title-font: 'Open Sans SemiBold';
  --main-title-font: 'Noto Serif Vithkuqi';

  font-size: 62.5%;
}
